
@import "./variables";

.footer {
  border-top: 2px solid $blue-grey-borders;
  color: #555;

  .logo {
    width: 50%;
    margin-bottom: 30px;
    display: block;
  }
  h4 {
    margin: 10px 0;
  }
}
