

@import "./variables";

.Home {

  .MainHero {
    position: relative;
    z-index: 9;
    margin-top: -50px;
    padding-top: 50px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('/1000/images/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $blue;
    h4, p {
      color: #fff;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    }
  }

  .affilate-section {
    border-top: 1px solid $blue-grey-borders;
  }

  .our-services {
    .title {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 0.8rem;
    }
  }
}
