<!DOCTYPE html>
<html>
<head>

{{ partial "base/header.html" . }}

</head>

<body class="Contact">
{{ partial "base/main-nav.html" . }}
<main>

  <section class="hero is-bold">
    <div class="hero-body">
      <div class="container">
        <img src="/trustlogo.png" alt="{{.Site.Title}}" width="300" style="display:block;margin:50px auto;" />

        <div class="columns is-centered ">
          <div class="column is-6 content">

            <h3 class="title is-3">Request a quote</h3>
            {{ partial "forms/contact-us.html" . }}

          </div>
          <div class="column content">
            <h3 class="title is-3">Our Mission</h3>
            <p>
              <strong class="is-uppercase">Teamwork</strong> <br> Nothing is too difficult for us to achieve together, we will do our best for every project assigned to us.
            </p>
            <p>
              <strong class="is-uppercase">Care</strong> <br>We do not take advantage of one another especially our workers.
            </p>
            <p>
              <strong class="is-uppercase">Integrity</strong>  <br>We will adhere to God’s moral and ethical principles in everything we do.
            </p>
          </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  {{ partial "base/footer.html" . }}




</main>
</body>
</html>
